*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('challenges\ bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#div{
    background-color: whitesmoke;
    color:black;
    border-radius: 18px;
    padding: 5px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}
#h3{
    border-radius: 18px;
    padding: 5px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;

}
h3{
    background-color: black;
    color:white;
    border-radius: 11px;
    padding: 5px;
    margin-bottom: 12px;
}
p{
    padding: 5px;
    /* font-size: 20px; */
}
h1{
    color: white;
    margin-top: 14px;
    margin-left: 15px;
}