*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 18px;

}
.ul li{
    margin-left: 40px;
    margin-bottom: 12px;
    margin-top: 12px;
padding: 5px;
}
#h1{
    
    text-align: center;
    margin-bottom: 12px;
    margin-top: 8px;
}
.endline{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 18px;
    margin-top: 12px;
    padding: 5px;
}
